/* ==================== GOOGLE FONTS ==================== */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

/* font-family: 'Montserrat', sans-serif; */

/* ==================== GOOGLE FONTS END ==================== */

/* ==================== VARIABLE CSS ==================== */
:root {
  /* ========== Font and Typography ============ */
  font-family: "Montserrat", sans-serif;

  /* .5rem = 8px, 1 rem 16px, 1.5rem = 24px */
  --big-font-size: 0.75rem;
  --h1-font-size: 0.85rem;
  --h2-font-size: 0.6rem;
  --h3-font-size: 0.5rem;
  --normal-font-size: 0.928rem;
  --bigger-font-size: 1.5rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* ======= Font Weight ======= */
  --font-medium: 500;
  --font-bold: 700;

  /* ======= Icons ======= */
  --share-icon-size: 1.9375em;
  --share-icon-size-alt: 2.2em;
  /* 31px = 1.9375em */

  /* =============== Colors ==================== */
  --first-color: #ea7600;
  --first-color-second: #f69f49;
  --first-color-alt: #ab5b0a;
  --first-color-lighter: #ecbe90;

  --second-color: #717575;
  --second-color-alt: #575c5c;
  --second-color-lighter: #ececec;

  --title-color: #000;
  --text-color: #000;
  --text-color-light: #fff;

  --input-color: #fff;
  --output-color: #fff;
  --body-color: #f2e2d0;
  --container-color: #fff;

  /* =============== Border ================== */
  --normal-border-radius: 10px;
}

body {
  background-color: var(--body-color);
  font-family: var(--body-font);
  color: var(--title-color);
}

.header {
  width: 80%;
  margin: auto;
  margin-top: 90px;
  padding-left: 5px;
  justify-content: center;
  /* fonts */
  font-weight: var(--font-bold);
  font-size: var(--h1-font-size);
  letter-spacing: -0.7px;
}

.main__container {
  width: 80%;
  margin: auto;
  justify-content: center;

  /* grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "generator"
    "share";
}

.generator {
  padding: 60px 30px;
  background-color: var(--first-color);

  /* border-radius */
  border-radius: var(--normal-border-radius);
  overflow: hidden;
}

.generator__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
}

/* ======= FORM ======= */

.generator__form {
  width: 100%;
}

input {
  font: 18px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  display: block;
  border: none;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease-in-out;
  border-radius: var(--normal-border-radius);
}

/* input[type="submit"] {
  transition: all 0.2s ease-in-out;
  border: none;
  background: var(--second-color);

  /* fonts */
/* color: var(--text-color-light);
  font-weight: var(--font-bold);
  font-size: var(--bigger-font-size);
  text-align: left;
} */

/* input[type="submit"]:hover {
  background: var(--second-color-alt);
  transition: 0.3s;
} */

.btn__random {
  border-radius: var(--normal-border-radius);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
  border: none;
  background: var(--second-color);

  /* fonts */
  color: var(--text-color-light);
  font-weight: var(--font-bold);
  font-size: var(--bigger-font-size);
  text-align: left;
}

.btn__random:hover {
  background: var(--second-color-alt);
  transition: 0.3s;
}

/* ======= SHARE BUTTONS ======= */

.share__buttons {
  margin: 10px;
  padding: 10px;

  /* grid */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "button__1 button__2 button__3 button__4";
}

.share__btn {
  margin: auto;
  width: 50px;
  height: 50px;
  justify-content: center;
  border: 2px solid black;
  border-radius: 50%;
  background-color: var(--second-color-lighter);

  /* center icons image */
  display: flex;
  justify-content: center;
  align-items: center;

  /* drop shadow */
  box-shadow: 3px 3px 0px 0px #000;
  -webkit-box-shadow: 3px 3px 0px 0px #000;
  -moz-box-shadow: 3px 3px 0px 0px #000;
}

.share__btn:hover {
  border: 2px solid var(--first-color-alt);
  box-shadow: 3px 3px 4px 0px #000;
  transition: 0.3s;
}

.share__link {
  /* icon style */
  font-size: var(--share-icon-size);
  color: #000;
  text-decoration: none;
}

.share__link:hover {
  color: var(--first-color-alt);
  font-size: var(--share-icon-size-alt);
  transition: 0.3s;
}

a:active {
  color: var(--first-color);
}

.output {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--output-color);
  margin-top: 20px;
}

/* ============= Media Responsive ============= */
@media screen and (min-width: 767px) {
  .header {
    margin-left: 130px;
  }
  .main__container {
    width: 250px;
    margin-left: 150px;
  }

  .generator {
    padding: 60px 30px;
    width: 250px;
  }

  .generator__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
  }
}
